html, body {
  height: 100%;
}

body {
  padding-top: 40px;
}

.navbar {
  min-height: 40px;
}

.navbar-brand,
.navbar-nav > li > a {
  padding: 10px 15px;
  height: 20px;
}

.navbar-toggle {
  margin: 3px 10px 3px 0;
}

.page-anchor {
  height: 40px;
  margin-top: -40px;
}

.page-anchor:first-child {
  height: 0;
  margin-top: 0;
}

.page {
  position: relative;
  min-height: 100%;
  margin: 0;
  border-radius: 0;
}

.page-center {
  position: absolute;
  top: calc(50% - 25px);
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: bold;
}

p, .btn {
  font-size: 17px;
}

#about-page {
  background: #c0d8ff;
}

#about-page #pitch,
#about-page #technologies {
  background: rgba(255, 255, 255, 0.4);
  margin: 20px 0;
  padding: 7px 15px 1px;
  border-radius: 20px;
}

#projects-page {
  background: #d0eed0;
}

#projects-page .project h2 {
  text-decoration: underline;
}

#projects-page .project:nth-child(2n + 1) {
  float: right;
  clear: left;
}

#projects-page .project:nth-child(2n) {
  float: left;
  clear: right;
}

#projects-page .project .btn-default {
  padding: 0 10px;
}

#contact-page {
  background: #ffefe5;
}

#contact-page #email {
  float: left;
}

#contact-page #links {
  float: right;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#contact-page #links .btn-group-vertical {
  margin: 40px 20px 40px 10px;
}

#contact-page #links .btn {
  margin: 5px;
}
